input{
    border: none;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    color: rgb(125, 125, 125);
    padding: 15px;
    font-size: 15px;
    width: 100%;
    text-align: left;
    margin: 10px 0px;
}

input:focus{
    border: none;
    background-color: #fff;
    transition: 0.5s;
}